<nav>
  <a routerLink="/">Home</a>

  <ng-container [ngSwitch]="menuType">

    <div *ngSwitchCase="'default'">
      <a routerLink="/login">Login</a>
      <a routerLink="/auth">Signup</a>
      <a routerLink="/cart">Cart ({{ cartCount }})</a>
    </div>

    <div *ngSwitchCase="'user'">
      <a routerLink="/">Home</a>
      <a routerLink="/cart">Cart ({{ cartCount }})</a>
      <a (click)="logout()">Logout</a>
    </div>

    <div *ngSwitchCase="'seller'">
      <a routerLink="/seller-home">Dashboard</a>
      <a routerLink="/seller-add-product">Add Product</a>
      <a (click)="logout()">Logout</a>
    </div>

  </ng-container>
</nav>
