<div class="checkout">
  <div>
    <h3>Checkout</h3>
    <p>
      Total price:
      {{ isLoading ? 'Calculating price...' : totalPrice }}
    </p>
  </div>

  <div class="checkout_form">
    <form #checkoutForm="ngForm" (ngSubmit)="submitForm()">

      <div>
        <label for="contact">Enter contact no:</label>
        <input
          type="number"
          name="contact"
          placeholder="Enter contact no"
          [(ngModel)]="contact"
          required
        />
      </div>

      <div>
        <label for="address">Address:</label>
        <input
          type="text"
          name="address"
          placeholder="Enter delivery address"
          [(ngModel)]="deliveryAddress"
          required
        />
      </div>

      <button
        type="submit"
        [disabled]="checkoutForm.invalid || isLoading"
        [class.disabled]="checkoutForm.invalid || isLoading"
      >
        {{ isLoading ? 'Placing Order...' : 'Order Now' }}
      </button>

    </form>
  </div>
</div>
