<div class="change-password-container">

  <div class="password-card">

    <h1>
      Change Password
    </h1>

    <form
      #passwordForm="ngForm"
      (ngSubmit)="changePassword(passwordForm)"
    >

      <!-- CURRENT PASSWORD -->

      <label>
        Current Password
      </label>

      <input
        type="password"
        name="current_password"
        ngModel
        required
      />

      <!-- NEW PASSWORD -->

      <label>
        New Password
      </label>

      <input
        type="password"
        name="new_password"
        ngModel
        required
        minlength="5"
      />

      <!-- CONFIRM PASSWORD -->

      <label>
        Confirm New Password
      </label>

      <input
        type="password"
        name="confirm_password"
        ngModel
        required
      />

      <!-- BUTTON -->

      <button
        type="submit"
        [disabled]="isLoading"
      >

        {{
          isLoading
            ? 'Updating...'
            : 'Update Password'
        }}

      </button>

      <!-- SUCCESS -->

      <p
        class="success-message"
        *ngIf="message"
      >

        {{ message }}

      </p>

      <!-- ERROR -->

      <p
        class="error-message"
        *ngIf="errorMessage"
      >

        {{ errorMessage }}

      </p>

    </form>

  </div>

</div>