<h2>My Orders</h2>

<p *ngIf="isLoading">Loading orders...</p>

<table *ngIf="!isLoading && orders.length">
  <tr>
    <th>ID</th>
    <th>Total</th>
    <th>Status</th>
    <th>Date</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let order of orders">
    <td>#{{ order.order_id }}</td>
    <td>₹ {{ order.total_price }}</td>
    <td>
      <span class="badge" [ngClass]="order.status">
        {{ order.status }}
      </span>
    </td>
    <td>{{ order.created_at | date:'medium' }}</td>
    <td>
      <button (click)="viewOrder(order.order_id)">View</button>
    </td>
  </tr>
</table>
