<div class="registerForm">

  <div class="text">
    <h1>Login</h1>
  </div>

  <div class="signupform">

    <form #loginForm="ngForm" (ngSubmit)="loginFormhandle(loginForm)">

      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        placeholder="Enter email"
        autocomplete="off"
        ngModel
        required
        email
      >

      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        placeholder="Password"
        autocomplete="off"
        ngModel
        required
        minlength="5"
      >

      <!-- FORGOT PASSWORD -->
      <div class="forgot-link">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>

      <p class="login-failed">{{ loginFailed }}</p>

      <button type="submit" [disabled]="loginForm.invalid">
        {{ isLoading ? "Fetching..." : "Login" }}
      </button>

      <a class="auth-toggle-link" (click)="redirectToSignup()">
        Haven't yet signed up? <span>Click for sign up</span>
      </a>

    </form>

  </div>

</div>