<div class="contact-container">

  <h1>Contact Us</h1>

  <p class="subtitle">
    Our support team will contact you shortly.
  </p>

  <form
    (submit)="submitContactRequest()"
  >

    <!-- NAME -->
    <input
      type="text"
      name="name"
      placeholder="Enter your name"
    />

    <!-- EMAIL -->
    <input
      type="email"
      name="email"
      placeholder="Enter your email"
    />

    <!-- SUBJECT -->
    <input
      type="text"
      name="subject"
      placeholder="Enter subject"
    />

    <!-- MESSAGE -->
    <textarea
      rows="7"
      name="message"
      placeholder="Enter your concern or message"
    ></textarea>

    <!-- BUTTON -->
    <button
      type="submit"
      [disabled]="isSubmitting"
    >

      {{
        isSubmitting
          ? 'Submitting...'
          : 'Submit Request'
      }}

    </button>

  </form>

  <!-- SUCCESS -->
  <p
    class="success-message"
    *ngIf="successMessage"
  >
    {{ successMessage }}
  </p>

  <!-- ERROR -->
  <p
    class="error-message"
    *ngIf="errorMessage"
  >
    {{ errorMessage }}
  </p>

</div>