.show-trends-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.trendyHead {
  font-size: 24px;
  margin: 20px 10px;
  text-align: center;
}

/* Slider */
.home_main_container_slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.home_slider_container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.home_slider_container img {
  width: 100%;
  height: auto;
}

.carousel_controls button {
  padding: 10px;
  font-size: 16px;
}